<h1>Turbo Chat</h1>

<% if current_user %>
  <%= link_to "Start Chatting", rooms_path %>
  <%= image_tag(current_user.avatar.variant(:thumb)) %>
  <br />
  <%= button_to "Sign Out", destroy_user_session_path, method: :delete %>
  <%= link_to "Edit Account", edit_user_registration_path, class: 'btn btn-secondary' %>
<% else %>
  <%= link_to "Sign Up", new_user_registration_path %>
  <%= link_to "Login", new_user_session_path %>
<% end %>